<div class="container-fluid custom__content mb__10">

    <div class="margin__large"></div>
	<!-- Heading -->
	<div class="">
		<h1>About Me</h1>
	</div>

	<div class="custom__content">
        <p>I received my Computer Science degree from the University of Reading, UK in 2019. </p>
        <p>I'm an ambitious, hardworking, and highly motivated junior software developer currently based in Muscat, Oman.</p>
        <p>I enjoy problem solving using clean code and SOLID fundamentals.</p>
        <p>Outside of programming, I enjoy reading and exercising.</p>
	</div>

    <!-- Heading -->
	<div class="mt-5">
		<h1>Skills</h1>
	</div>
	<!-- Main content -->
	<div class="custom__content">
		<div class="card">
            <div class="card-body">
              <h5 class="card-title text-white">Languages</h5>
              <p class="card-text">C <img class="img__logo" src="../img/c.png" alt="c lang"></p>
              <p class="card-text">Java <img class="img__logo" src="../img/java.png" alt="java" style="transform: scale(2);"></p>
              <p class="card-text">Python <img class="img__logo" src="../img/py.png" alt="python"></p>
              <p class="card-text">JavaScript <img class="img__logo" src="../img/js.png" alt="javascript"></p>
              <p class="card-text">PHP <img class="img__logo" src="../img/php.png" alt="php"></p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title text-white">Frameworks/Libraries</h5>
              <p class="card-text">jQuery <img class="img__logo" src="../img/jq.png" alt="jquery"></p>
              <p class="card-text">Laravel <img class="img__logo" src="../img/laravel.png" alt="laravel"></p>
              <p class="card-text">CodeIgniter <img class="img__logo" src="../img/ci.png" alt="codeigniter"></p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title text-white">Technologies</h5>
              <p class="card-text">Git <img class="img__logo" src="../img/git.png" alt="git"></p>
              <p class="card-text">Webpack <img class="img__logo" src="../img/webpack.png" alt="webpack"></p>
              <p class="card-text">WordPress <img class="img__logo" src="../img/wp.png" alt="wordpress"></p>
            </div>
        </div>
	</div>
</div>

