<div class="container-fluid custom__content mb__10">

    <div class="margin__large"></div>
	<!-- Heading -->
	<div class="">
		<h1>Projects</h1>
	</div>

	<!-- Main content -->
	<div class="custom__content">
        <div class="row justify-content-center">
            <div class="card project">
                <img src="../img/proj-bahla-diamond.png" class="card-img-top" alt="screenshot">
                <div class="card-body">
                    <h5 class="card-title text-white">
                        Water Meter Tracker
                        <img class="img__logo" src="../img/java.png" alt="java lang" style="transform: scale(2);">
                        <img class="img__logo" src="../img/android.png" alt="android">
                    </h5>
                    <div class="card-text">
                        <p>&#9642; Scans barcode to retrieve customer details.</p>
                        <p>&#9642; Uses Google's ML kit for text recognition.</p>
                        <p>&#9642; Exports saved data as a csv file.</p>
                    </div>
                </div>
            </div>
    
            <div class="card project mt__mobile">
                <img src="../img/proj-moci.png" class="card-img-top" alt="screenshot">
                <div class="card-body">
                    <h5 class="card-title text-white">
                        Booking System
                        <img class="img__logo" src="../img/laravel.png" alt="java lang">
                        <img class="img__logo" src="../img/php.png" alt="java lang">
                    </h5>
                    <div class="card-text">
                        <p>&#9642; Uses iSmart SMS API to send OTP.</p>
                        <p>&#9642; FullCalendar displays bookings.</p>
                        <p>&#9642; Flexibility to alter available timeslots.</p>
                    </div>
                </div>
            </div>
    
            <div class="card project mt__mobile">
                <img src="../img/proj-ec.png" class="card-img-top" alt="screenshot">
                <div class="card-body">
                    <h5 class="card-title text-white">
                        Booking System 2
                        <img class="img__logo" src="../img/laravel.png" alt="java lang">
                        <img class="img__logo" src="../img/php.png" alt="java lang">
                    </h5>
                    <div class="card-text">
                        <p>&#9642; FullCalendar displays bookings.</p>
                        <p>&#9642; Multiple user roles.</p>
                        <p>&#9642; Prints invoices.</p>
                    </div>
                </div>
            </div>
        </div> 

        <div class="row justify-content-center mt-4">
            <div class="card project">
                <img src="../img/proj-pos.png" class="card-img-top" alt="screenshot">
                <div class="card-body">
                    <h5 class="card-title text-white">
                        POS and E-commerce website
                        <img class="img__logo" src="../img/ci.png" alt="java lang">
                        <img class="img__logo" src="../img/php.png" alt="android">
                    </h5>
                    <div class="card-text">
                        <p>&#9642; Uses iSmart SMS API to send order details.</p>
                        <p>&#9642; Multiple user roles.</p>
                        <p>&#9642; Multilanguage website.</p>
                    </div>
                </div>
            </div>
    
            <div class="card project mt__mobile">
                <img src="../img/proj-boutique.png" class="card-img-top" alt="screenshot">
                <div class="card-body">
                    <h5 class="card-title text-white">
                        E-commerce website
                    </h5>
                    <div class="card-text">
                        <img class="img__logo" src="../img/wp.png" alt="wordpress">
                        <img class="img__logo" src="../img/php.png" alt="php">
                    </div>
                    <div class="card-text">
                        <p>&#9642; Multilanguage website (TranslatePress).</p>
                        <p>&#9642; Modified theme to switch orientation.</p>
                    </div>
                </div>
            </div>
    
            <div class="card project mt__mobile">
                <img src="../img/proj-hiber.png" class="card-img-top" alt="screenshot">
                <div class="card-body">
                    <h5 class="card-title text-white">
                        E-commerce website 2
                    </h5>
                    <div class="card-text">
                        <img class="img__logo" src="../img/wp.png" alt="wordpress">
                        <img class="img__logo" src="../img/php.png" alt="php">
                    </div>
                    <div class="card-text">
                        <p>&#9642; Modified plugin to create sliders.</p>
                        <p>&#9642; Modified theme to create author profiles.</p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

